### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/model/AbstractImage.class
/src/processes/ApplyKernel.class
/blue.ppm
/images/TestImageOriginalExpected.jpg
/res/igmbright-original.ppm
/src/processes/Load.class
/images/TestImageOriginalExpected.png
/images/koala-unblurred.ppm
/src/processes/Save.class
/src/controller/ImageProcessing.class
/src/processes/BoxBlur.class
/green.ppm
/src/controller/ImageProcessingControllerImplementation.class
/bright.ppm
/images/gauss-test.ppm
/src/processes/GaussianBlur.class
/src/processes/HorizontalFlip.class
/src/util/ImageUtil.class
/images/koala-very-blurry.ppm
/images/emboss-test.ppm
/src/processes/RidgeDetection.class
/src/model/OperationsModel.class
/src/model/Image.class
/src/processes/Emboss.class
/images/TestImageOriginalJPGToPPM.ppm
/src/controller/ImageProcessingController.class
/src/processes/Sharpen.class
/src/processes/Process.class
/src/processes/Brighten.class
/images/ridge-test.ppm
/res/igmsepia.ppm
/src/model/OperationsModelManager.class
/src/view/ImageProcessingView.class
/intensity.ppm
/red.ppm
/images/koala-ridge-blur.ppm
/hflip.ppm
/src/model/RGBImage.class
/luma.ppm
/images/blur-test.ppm
/src/view/ImageProcessingTextView.class
/images/TestImageOriginalPNGToPPM.ppm
/images/TestImageOriginalPPMToJPG.jpg
/value.ppm
/src/processes/ValueComponent.class
/src/processes/VerticalFlip.class
/vflip.ppm
